<mat-toolbar style="height: 10%;">
    <span>My Application</span>
    <span class="example-spacer"></span>

    <mat-form-field (keydown.enter)="search($event.target.value)" style="width: 40%;">
        <input matInput placeholder="Buscar..">
    </mat-form-field>

</mat-toolbar>
<div style="position: relative; height: 80%;width: 100%;background: grey;text-align: center;
background: url(https://image.shutterstock.com/image-vector/data-cloud-storage-elearning-online-260nw-1243806193.jpg);
    background-repeat: repeat;
    background-size: auto;
background-repeat: no-repeat;
background-size: cover;image-rendering: optimizeQuality;">
    <div style="background: rgba(0, 0, 0, 0.495);padding: 20px;position:absolute;top: 30%;width: 40%;left: 30%;">

        <mat-form-field (keydown.enter)="search($event.target.value)" style="width:80%;">
            <input matInput placeholder="Buscar..">
        </mat-form-field>
        <h1 style="color: orange;font-style: italic;">La cima del poder y el conocimiento con expertos en css html, html5 y mucho mas ...</h1>
    </div>

</div>
<div style="display: flex;position: relative; height: 90%;overflow: auto;">
    <div style="position: relative;width: 15%;background-color: lightblue;">

    </div>

    <div style="position: relative;width: 70%;height: 70%;display: flex;
    flex-wrap: wrap;">

        <div *ngFor="let c of courses" class="grid-item">

            <app-course-card [course]="c"></app-course-card>
        </div>

    </div>


    <div style="position: relative;width: 15%;background-color: lightblue;">

    </div>
</div>