<mat-toolbar>
  <span>My Application</span>
  <span class="example-spacer"></span>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Buscar..">
    </mat-form-field>
  </form>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-sm" style="background-color: red;">
      One of three columns
    </div>
    <div class="col-sm">
      <ul class="list-unstyled">
        <li *ngFor="let  course of courses" class="media">
          <img class="mr-3" [src]="course.imageUrl" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{course.title}}</h5>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm" style="background-color: red;">
      One of three columns
    </div>
  </div>
</div>
