<mat-toolbar style="display: relative;height: 10%;">
    <span>My Application</span>
    <span class="example-spacer"></span>

    <mat-form-field (keydown.enter)="search($event.target.value)" style="width: 40%;">
        <input matInput placeholder="Buscar..">
    </mat-form-field>

</mat-toolbar>

<div style="display: flex;position: relative; height: 90%;overflow: auto;">
    <div style="position: relative;width: 15%;height: 70%;">

    </div>

    <div style="position: relative;width: 70%;height: 70%;display: flex;
    flex-wrap: wrap;">

        <div *ngFor="let c of courses" class="grid-item">

            <app-course-card [course]="c"></app-course-card>
        </div>

    </div>


    <div style="position: relative;width: 15%;height: 70%;">

    </div>
</div>